$primary: #ff550b;
$secondary: #303030;
$success: #015668;
$danger: #ff304f;
$info: #0f81c7;
$warning: #0de2ea;
$light: #e8e8e8;
$dark: #000;

$gray-300: #000;
$gray-800: #555;
$body-bg: #222;
$body-color: #ccc;
$link-color: #f0f0f0;
